h1 {
    position: relative;
    color: black;
    font-size: 60px;
    font-style: italic;
    text-align: center;
}
h2 {
    color: aqua;
    font-size: 40px;
    font-style: oblique;
    text-align: center;
}
body {
    background-image: url('Images/Nature.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p {
    font-size: 25px;
    color: blueviolet;
    font-style: inherit;
    text-align: center;
}
